html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(5);
  grid-template-rows: repeat(6);
  gap: 5px;
}

.box {
    height: 50px;
    width: 50px;
    border: 2px solid #d9d9d9;
    display: inline-block;
    line-height: 50px;
    color: #1A1A1B;
}

.key {
    display: inline-block;
    width: 40px;
    height: 60px;
    line-height: 60px;
    margin: 3px;
    border-radius: 3px;
    background-color: #D3D6DA;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    vertical-align: middle;
    user-select: none;
}

.key:hover {
    cursor: pointer;
}

#backImage {
    height: 30px;
}

span {
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
}

#warning {
    border-radius: 8px;
    background-color: #121212;
    height: 35px;
    line-height: 35px;
    padding: 2px 8px;
    font-family: 50px;
    font-size: 13px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    transform: translate(-50% -50%);
    top: 1.2%;
    display: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes flip {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(90deg); }
    100% { transform: rotateY(0deg); }
}